# Python
__pycache__/
*.py[cod]
*.so
.Python
env/
dist/
build/

# Jupyter Notebook
.ipynb_checkpoints/

# IDE
.vscode/
.idea/
*.sublime-project
*.sublime-workspace
*.pydevproject

# Sonstiges
.DS_Store

# Config File
sapRefresh\config.yml